/HW1/cmake-build-debug/CMakeFiles/Progress/count.txt
/HW1/cmake-build-debug/CMakeFiles/Progress/2
/HW1/cmake-build-debug/CMakeFiles/Progress/1
/HW1/cmake-build-debug/CMakeFiles/Makefile.cmake
/HW1/cmake-build-debug/CMakeFiles/clion-log.txt
/HW1/.idea/workspace.xml
