/HW1/cmake-build-debug/CMakeFiles/Progress/count.txt
/HW1/cmake-build-debug/CMakeFiles/Progress/2
/HW1/cmake-build-debug/CMakeFiles/Progress/1
/HW1/cmake-build-debug/CMakeFiles/Makefile.cmake
/HW1/cmake-build-debug/CMakeFiles/clion-log.txt
/HW1/.idea/workspace.xml
/HW2/cmake-build-debug/HW2
/HW2/cmake-build-debug/CMakeFiles/HW2.dir/main.c.o
/HW2/.idea/workspace.xml
/Exam
/HW3/.idea/workspace.xml
/HW3/cmake-build-debug/CMakeFiles/HW3.dir/main.c.o
/HW3/cmake-build-debug/CMakeFiles/HW3.dir/SPMainAux.c.o
/HW3/cmake-build-debug/CMakeFiles/HW3.dir/SPMiniMaxNode.c.o
/HW3/cmake-build-debug/HW3
